# Flask Configuration
FLASK_APP=
FLASK_DEBUG=
SECRET_KEY=
PASSWORD_RESET_SALT=
PASSWORD_RESET_EXPIRES_SECONDS=
# Admin Credentials
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Mail Configuration
MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_USE_TLS=
MAIL_USE_SSL=


FRONTEND_URL=
VIDEO_HOSTING_INTERNAL_API_KEY=
VIDEO_HOSTING_INTERNAL_URL=


# TMDB API Key
TMDB_API_KEY=

# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FRONTEND_URL=
GOOGLE_REDIRECT_URI=


# Database Configuration 
DATABASE_URL=
